<template name="groupDetail">
    <div class="row-fluid">
        <div class="span12">
            <h3>{{groupObject.name}}</h3>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <input id="proposalDescription" {{disabledOnOtherGroups}} type="text" placeholder="neuer Vorschlag">
        </div>
        <div class="span4">
            <input id="proposalTime" {{disabledOnOtherGroups}} type="text" placeholder="hh:mm">
        </div>
        <div class="span4">
            <button id="create_proposal" {{disabledOnOtherGroups}} class="btn btn-primary" type="button">Hinzufügen</button>
        </div>
    </div>
    <div class="row-fluid">
        <div class ="span12">
            <h4>Vorschläge</h4>
        </div>
    </div>
    {{#each proposals}}
        <div class="row-fluid">
            <div class="span6">
                <button class="btn btn-info proposalbutton" id="{{_id}}" type="button">
                    <span class="badge">{{creatorName}}</span>
                    &nbsp;{{description}}
                    <span class="badge">{{time}}</span>
                </button>
            </div>
            <div class="span6">
                <div class="row-fluid">
                    <div class="span12">
                        {{> admitterList}}
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</template>


<template name="admitterList">
    {{#each admittersOfProposal this._id}}
    <span class="badge">{{admitterName}}</span>
    {{/each}}
</template>