<template name="groupDetail">
    <div class="hero-unit">
    {{#if hasGroup}}
        <div class="row-fluid">
            <div class="span12">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group">
                        <a id="btnDatePast" class="btn btn-default" role="button">Früher</a>
                    </div>
                    <div class="btn-group">
                        <a id="btnCurrentDateLabel" disabled="disabled" class="btn btn-default" role="button">{{showDate}}</a>
                    </div>
                    <div class="btn-group">
                        <a id="btnDateFuture" class="btn btn-default" role="button">Später</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <h3>{{groupObject.name}}</h3>
            </div>
        </div>
        {{#each proposals}}
            <div class="row-fluid proposalDroppable" id="proposal_{{_id}}">
                <div class="span12">
                    <button class="btn btn-large proposalbutton" id="{{_id}}" type="button" {{disabledOnOtherGroups}} {{disabledForPastProposals}} >
                    <span class="badge creatorBadge pull-left">{{creatorName}}</span>
                    <span class="pull-left">{{time}}</span>
                    <span class="pull-left">&nbsp;{{description}}</span>
                    <span class="pull-right">
                        {{> admitterList}}
                    </span>
                    </button>
                </div>

            </div>
        {{/each}}

        <div class="row-fluid newProposalForm">
            <div class="span12">
                <form id="addProposal" class="form-horizontal">
                        <input id="proposalTime" {{disabledOnOtherGroups}} {{disabledForPastProposals}} type="text" placeholder="hh:mm">
                        <input id="proposalDescription" {{disabledOnOtherGroups}} {{disabledForPastProposals}} type="text" placeholder="neuer Vorschlag">
                        <button id="create_proposal" {{disabledOnOtherGroups}} {{disabledForPastProposals}} class="btn push-left btn-primary" type="submit">Hinzufügen</button>
                        <!-- Achtung das submit event fuer die Elemente des forms wird nur ausgeloest, wenn der button type submit hat-->
                </form>
            </div>
        </div>

    {{else}}
        <div class="row-fluid">
            <div class="span12">
                <h3>Keine Gruppe gewählt!!</h3>
            </div>
        </div>
    {{/if}}
    </div>
</template>


<template name="admitterList">
    {{#each admittersOfProposal this._id}}
    <div class="badge {{renderBadgeType this.admitterId}} user {{renderDraggable this._id}}" id="{{this._id}}">{{admitterName}}</div>
    {{/each}}
</template>