
<!--<head>
    <title>Lunchy Test</title>
</head>

<body>
<div id="top-tag-filter">
    {{> groupList}}
</div>

</body>-->

<template name="groupList">
    <div id="my_groups">
        <h5>Meine Gruppen: </h5>
        <ul>
            <li>
                <i class="icon-minus-sign"></i>
                Media
            </li>
            <li>
                <i class="icon-minus-sign"></i>
                E-Commerce
            </li>
        </ul>
    </div>

    <div id="all_groups">
        <h5>Alle Gruppen: </h5>
        <ul>
            <li>
                <i class="icon-plus-sign"></i>
                BR
            </li>
            <li>
                <i class="icon-plus-sign"></i>
                3-Oben
            </li>
        </ul>

        <div id="createList">
            <input type="text" id="new-list" placeholder="Neue Gruppe" />
        </div>
    </div>


</template>