
<template name="groupList">
    <div class="my_groups">
        <h5>Meine Gruppen: </h5>

        <ul>
            {{#each myGroups}}
                <li>
                    <a href="{{_id}}" class="groupIconMinus"><i class="icon-minus-sign"></i></a>
                    <a href="{{_id}}" class="groupItem">{{name}}</a>
                </li>
            {{/each}}
        </ul>

    </div>

    <div class="all_groups">
        <h5>Alle Gruppen: </h5>

        <ul>
            {{#each allGroups}}
                <li>
                    <a href="{{_id}}" class="groupIconPlus"><i class="icon-plus-sign"></i></a>
                    <a href="{{_id}}" class="groupItem">{{name}}</a>
                </li>
            {{/each}}
        </ul>

        <div>
            <form id="create_group">
                <input type="text" placeholder="Neue Gruppe" />
            </form>
        </div>
    </div>


</template>