<template name="groupDetails">
    <div class="row-fluid">
        <div class="span4">
            <input type="text" placeholder="neuer Vorschlag">
        </div>
        <div class="span4">
            <input type="text" placeholder="hh:mm">
        </div>
        <div class="span4">
            <button class="btn btn-primary" type="button">Hinzufügen</button>
        </div>
    </div>
    <div class="row-fluid">
        <div class ="span12">
            <h4>Vorschläge</h4>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <button class="btn btn-info" type="button"><span class="badge">cgr</span>&nbsp;Chinese um 12:00 Uhr von...</button>
        </div>
        <div class="span6">
            <div class="row-fluid">
                <div class="span12">
                    <span class="badge badge-info">3</span>
                    <span class="badge">jre</span>
                    <span class="badge">nnl</span>
                    <span class="badge">cgr</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <button class="btn btn-info" type="button"><span class="badge">cgr</span>&nbsp;Büffee um 12:00 Uhr von...</button>
        </div>
        <div class="span6">
            <div class="row-fluid">
                <div class="span12">
                    <span class="badge badge-info">2</span>
                    <span class="badge">pwn</span>
                    <span class="badge">mma</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <button class="btn btn-info" type="button"><span class="badge">cgr</span>&nbsp;Italiener um 12:00 Uhr von...</button>
        </div>
        <div class="span6">
            <div class="row-fluid">
                <div class="span12">
                    <span class="badge badge-info">1</span>
                    <span class="badge">fhr</span>
                </div>
            </div>
        </div>
    </div>
</template>