<template name="messages">
    <div class="input-append">
        <form id="add_message" class="form-horizontal">
            <div class="input-append">
                <input class="span14" type="text" placeholder="Neue Nachricht">
                <button class="btn btn-primary" type="submit">Abschicken</button>
            </div>

        </form>
    </div>
    {{> messagesItems}}
</template>

<template name="messagesItems">
    <div id="lunchy-message" class="row-fluid">
        <ul class="media-list">
            {{#each messages}}
            <li class="media"><span class="badge">{{author}}</span>&nbsp;&nbsp;&nbsp;<span class="">{{message}}</span>&nbsp;
            </li>
            {{#if dateChanged timestamp}}
        </ul>
        <div>{{formattedDate timestamp }}</div>
        <ul class="media-list">
            {{/if}}
            {{/each}}
        </ul>
        {{#if showLoadNextButton}}
            <div class="btn btn-primary loadNextButton">mehr</div>
        {{/if}}
    </div>
</template>