<template name="messages">
    {{#if hasGroup}}
    <div class="input-append">
        <form id="add_message" class="form-horizontal">
            <div class="input-append">
                <input {{disabledOnOtherGroups}} class="span14" type="text" placeholder="Neue Nachricht">
                <button {{disabledOnOtherGroups}} class="btn btn-primary" type="submit">Abschicken</button>
            </div>

        </form>
    </div>
    {{> messagesItems}}
    {{else}}
    Nachrichten sind nur für Gruppen möglich
    {{/if}}
</template>

<template name="messagesItems">
    <div id="lunchy-message" class="row-fluid">
        {{#each messageGroups}}
            <div class="well well-large">
                <div class="alert alert-info">
                    {{timestamp}}
                </div>
                <ul class="media-list">
                    {{#each messages}}
                        <li class="media"><span class="badge">{{author}}</span>&nbsp;&nbsp;&nbsp;<span class="">{{message}}</span>&nbsp;</li>
                    {{/each}}
                </ul>
            </div>
        {{/each}}

        {{#if showLoadNextButton}}
            <div class="btn btn-primary loadNextButton">mehr</div>
        {{/if}}
    </div>
</template>