<template name="messages">
    <div class="input-append">
        <form id="add_message" class="form-horizontal">
            <div class="input-append">
                <input class="span14" type="textarea" placeholder="Neue Nachricht">
                <button class="btn btn-primary" type="button">Abschicken</button>
            </div>

        </form>
    </div>
    {{> messagesItems}}
</template>

<template name="messagesItems">
    <div id="lunchy-message" class="row-fluid">
        <ul class="">
            {{#each messages}}
            <li><span class="badge">{{author}}</span>&nbsp;&nbsp;&nbsp;<span class="">{{message}}</span>&nbsp;</li>
            {{/each}}
        </ul>
    </div>
</template>