body{
    background-image: url("/images/background.jpg");
    background-size:cover;
}

body.bufee, body.buffee, body.buffe {
    background-image: url("/images/bufee_.jpg") !important;
}

body.goldenesdreieck, body.goldendreieck, body.chinese {
    background-image: url("/images/goldenesdreieck.jpg") !important;
}

body.kantine, body.kantineallweiler, body.allweiler, body.allweilerkantine {
    background-image: url("/images/kantine.jpg") !important;
}

body.kutmuhle  {
    background-image: url("/images/backer.jpg") !important;
}

body.backer, body.koch, body.backerkoch  {
    background-image: url("/images/koch.jpg") !important;
}

body.ilpostino, body.postino  {
    background-image: url("/images/ilpostino.jpg") !important;
}

body.bufeechinese, body.buffechinese, body.buffeechinese  {
    background-image: url("/images/bufee-chinese.jpg") !important;
}

body.vulcano, body.vulkano  {
    background-image: url("/images/vulcano.jpg") !important;
}

.well {
    margin-bottom: 0;
}
.activeColor {

}

.hoverColor {
    border: 2px inset #6699dd;
}

.user {
    font-size: 18px;
    padding: 9px;
}

.draggable {
    cursor: pointer;
}

.draggable:hover {
    background-color: cornflowerblue;
}

.hero-unit {
    padding:20px;
}

.proposalDroppable
{

}

.creatorBadge
{
    margin-top:7px;
    margin-right:5px;

}

.newProposalForm
{
    padding-top:20px;
}

.newProposalForm input
{
    width:auto;
}

.proposalbutton
{
    width:100%;
    margin: 7px auto;
    line-height: 29px;
}